body,
html {
  padding: 0;
  margin: 0;
  background-color: #323232;
  font-size: 15px;
  line-height: 15px;
  font-family: Calibri, serif;
  -webkit-print-color-adjust: exact;
}
@media print {
  body,
  html {
    background-color: white;
  }
}
#placeholder {
  position: absolute;
  width: 8.5in;
  left: 50%;
  margin-left: -4.25in;
  height: 10in;
  text-align: center;
  top: 100px;
  background-color: #323232 !important;
  color: #ffffff;
}
#placeholder a:link {
  text-decoration: underline;
  color: #ffffff;
}
#placeholder a:visited {
  text-decoration: underline;
  color: #efefef;
}
