
@bgcolor1: rgba(50,50,50,1);
@bgcolor2: #e7e7e7;
@textPadding: 15px;
@textcolor1: #080808;
@textcolor2: #082858;
@chartcolor1: #fff;
@chartcolor2: #21ff7c;
@charttextcolor: black;

body, html {
	padding: 0; margin: 0;
	background-color: rgba(50,50,50,1);
	font-size: 15px;
	line-height: 15px;
	font-family: Calibri, serif;
	-webkit-print-color-adjust: exact;
	@media print {
		background-color: white;
	}
}

#placeholder {
	position: absolute;
	width: 8.5in;
	left: 50%;
	margin-left: -4.25in;
	height: 10in;
	text-align: center;
	top: 100px;
	background-color: @bgcolor1 !important;
	color: #ffffff;
	a:link {
		text-decoration: underline;
		color: #ffffff;
	}
	a:visited {
		text-decoration: underline;
		color: #efefef;
	}
}
